@import './variables';

.VCalendar {
  position: relative;
  overflow: hidden;
  margin: 150px auto;
  padding: 4px 10px;
  width: 180px;
  height: 40px;
  background-color: $gray;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid $gray;
  &.active {
    border: 1px solid  #409eff
  }
  &__input {
    display: flex;
    &__start,
    &__end {
      box-sizing: border-box;
      padding: 7px 14px;
      max-width: 100%;
      font-size: 12px;
      // text-align: center;
      background-color: $gray;
      border: 0;
      outline: none;
      appearance: none;
      flex: 1 0 auto;
      line-height: 16px;
      letter-spacing: 1.5px;
    }
    &__tilde {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
